.form-label {
  display: block;
  /* font-size: 14px;
  font-weight: bold; */
  margin-bottom: 5px; /* Spacing between label and input */
  
}
.form-control {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}